name: ci

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        include:
          - node: 16
            npm: 8
          - node: 18
            npm: 9
          - node: 20
            npm: 10
          - node: 21
            npm: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up node ${{ matrix.node }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node }}

      - name: Update npm
        run: npm install -g npm@^${{ matrix.npm }}

      - name: Cache
        uses: actions/cache@v4
        with:
          path: ~/.npm
          key: ${{ runner.os }}-node-${{ matrix.node }}-${{ hashFiles('**/package-lock.json') }}
          restore-keys: |
            ${{ runner.os }}-node-${{ matrix.node }}-
            ${{ runner.os }}-node-
            ${{ runner.os }}-

      - name: Install
        run: npm run install:all -- ci

      - name: Lint
        uses: wearerequired/lint-action@v2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          prettier: true
          eslint: true
          eslint_args: '--max-warnings 0'
          eslint_extensions: js,jsx,ts,tsx

      - name: Build
        run: npm run build:all

      - name: Test
        run: npm run test

  install:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up node 20
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install
        run: npm run install:all
